name: Senior Data Pipeline CI/CD

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  # ----------------- JOB 1: CI -----------------
  quality-gate:
    name: Quality Assurance
    runs-on: ubuntu-latest
    
    env:
      PYTHONPATH: ${{ github.workspace }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: 'pip'
      
      - name: Install Dependencies (Dev & Prod)
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt

      - name: Linting (Quality Check)
        run: |
          ruff check .

      - name: Unit Testing (Logic Check)
        run: |
          pytest


  # ----------------- JOB 2: CD -----------------
  deploy:
    name: Deploy to Render
    needs: quality-gate
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    
    env:
      PYTHONPATH: ${{ github.workspace }}   

    steps:
      - name: Trigger Render Deployment
        run: |
          if [ -z "${{ secrets.RENDER_DEPLOY_HOOK }}" ]; then
            echo "SECRET IS EMPTY"
            exit 1
          else
            echo "SECRET EXISTS"
          fi